.todo-list ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    cursor: pointer;
}

/* تنسيق الأيقونة قبل التفعيل */
.todo-list ul li::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-image: url("../photos/checked.png"); /* تأكدي من مسار الصورة */
    background-size: cover;
}

/* تنسيق حالة التفعيل (checked) */
.todo-list ul li.checked::before {
    background-image: url("../photos/checked1.png");
}

.todo-list ul li.checked {
    text-decoration: line-through;
    color: #888;
}